<div ng-app="NodeApp" ng-controller="Homectrl">
    

      <div id="exTab2" class="col-md-4 col-xs-12 pull-right">	

			<div class="tab-content ">
			  <div class="tab-pane active" id="1">
          	<div class="">
		<form>
    		<div id="login-form" class="form-container" data-form-container style="color: rgb(198, 40, 40); background: rgb(255, 205, 210);">
			<div class="row">
				<div class="form-title">
					<span>DESA</span>
				</div>
			</div>
			<div class="input-container">
				<div class="row" style="display:none">
					<span class="req-input confirm-password" >
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="Input your First Name."> </span>
						<input type="text" ng-model="FirstName" data-min-length="8" placeholder="First Name" value="">
					</span>
				</div>
					<div class="row" style="display:none">
					<span class="req-input confirm-password" >
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="Input your Last Name."> </span>
						<input type="text" ng-model="LastName" data-min-length="8" placeholder="Last Name" value="">
					</span>
				</div>
				<div class="row">
					<span class="req-input" >
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="Input your email."> </span>
						<input type="email" ng-model="Email" data-min-length="8" placeholder="Email" value="">
					</span>
				</div>
				<div class="row">
					<span class="req-input input-password invalid">
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="Password must be at least 8 characters long."> </span>
						<input type="password" ng-model="Password" data-min-length="8" placeholder="Password">
					</span>
				</div>
				
				<div class="row" style="display:none">
					<span class="req-input confirm-password">
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="Password Must Match Initial Password Field."> </span>
						<input type="password" data-min-length="8" placeholder="Confirm Password">
					</span>
				</div>
				
				<div class="row">
					<a class="create-account" > Create an Account </a>
				</div>
				
				<div class="row submit-row">
<!--					<button type="button" class="btn btn-block submit-form invalid" ng-click="Register()">Register</button>-->
                    <button type="button" class="btn btn-block submit-form invalid" ng-click="Login()">Login</button>
				</div>
				<div class="oauth-buttons">
					<span><i class="fa fa-facebook"></i> </span>
					<span><i class="fa fa-google-plus"></i> </span>
					<span><i class="fa fa-linkedin"></i> </span>
					<span><i class="fa fa-twitter"></i> </span>
				</div>
					
				
			</div>
			</div>
		
			</form>
		</div>
	
				</div>
				
       
			</div>
  </div>

</div>
 <script src="../libs/js/custom.js"></script>


    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    